# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Optional cache
.cache/
dist/
build/

# Debug files
*.local
*.swo
*.swp

# Editor folders
.vscode/
.idea/

# Runtime files
pids/
*.pid
*.seed
